@page
@model Proftaakrepos.IndexModel

@{
}

<h1>Index</h1>

<p>
    <a asp-page="Create" id="CreateID" class="CreateClass">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddEmployee[0].naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddEmployee[0].tussenvoegsel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddEmployee[0].achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddEmployee[0].eMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddEmployee[0].phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddEmployee[0].straatnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddEmployee[0].huisNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddEmployee[0].postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddEmployee[0].woonplaats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AddEmployee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tussenvoegsel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.straatnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.huisNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.woonplaats)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
