@model AgendaViewModel
@using Models;
@{
    ViewData["Title"] = "Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agenda</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/fullcalendar/core/main.min.js"></script>
    <script src="~/js/fullcalendar/daygrid/main.min.js"></script>
    <script src="~/js/fullcalendar/daygrid/main.js"></script>
    <script src="~/js/fullcalendar/timegrid/main.min.js"></script>
    <script src="~/js/fullcalendar/bootstrap/main.min.js"></script>
    <script src="~/js/fullcalendar/core/main.js"></script>
    <script src="~/js/fullcalendar/interaction/main.js"></script>
    <script src="~/js/myCalendar.js"></script>
    <link href="~/css/bootstrap-tokenfield.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js" integrity="sha256-l6+Sy1aRcXA+XZ/kFMXGnQcAEpB8Hlx4SCCpQ5TpyEs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.css" integrity="sha256-auNBxJ+1OpvUJfYRsPihqLzJFUM9D3gpb8nOh5v0LiM=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" integrity="sha256-Lfe6+s5LEek8iiZ31nXhcSez0nmOxP+3ssquHMR3Alo=" crossorigin="anonymous" />
    <link href="~/css/main.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Agenda.css" />

</head>
<body>
    @{
        string voornaamlist = "";
        string userIdList = "";
        if (ViewData["rol"].ToString() == "Roostermaker")
        {
            <input id="rol" type="hidden" value="roostermaker" />
            int i = 1;
            foreach (UserViewModel um in Model.userList)
            {
                if (um.tussenvoegsel != "")
                {
                    voornaamlist += i + " - " + um.voornaam + " " + um.tussenvoegsel + " " + um.achternaam + ",";
                }
                else
                {
                    voornaamlist += i + " - " + um.voornaam + " " + um.achternaam + ",";
                }
                userIdList += um.userId + ",";
                i++;
            }
        }
        else
        {
            <input id="rol" type="hidden" value="overig" />
        }
        if (ViewData["rol"] as string == "Roostermaker")
        {
            <div class="card mb-4">
                <input id="loggedInUser" type="hidden" value="@Model.loggedInUserId" />
                <input id="naamLijst" type="hidden" value="@voornaamlist" />
                <div class="popup-window bg-dark text-white" id="popup">Deze gebruiker is al geselecteerd</div>

                <div class="card-header bg-dark text-white" style="border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;">Werknemer:</div>
                <div class="card-body bg-white">
                    <div class="input-group mb-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">Werknemer:</span>
                        </div>
                        @{
                            voornaamlist = "\"" + voornaamlist + "\"";
                            userIdList = "\"" + userIdList + "\"";
                        }
                        <input onchange="SetUserIDHeader(@voornaamlist,@userIdList); RemoveEvents(); FetchEvents();" type="text" class="form-control" id="voornaamFieldHeader" value="" autocomplete="off" />
                        <input type="hidden" id="userIdField1" value="@Model.loggedInUserId" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">Soort:</span>
                        </div>
                        <select onchange="FetchEvents(); RemoveEvents();" on class="form-control" id="soortDienstField">
                            <option selected value="Allemaal">Allemaal</option>
                            <option value="#3b5a6f">Stand-by</option>
                            <option value="#353b45">Incidenten</option>
                            <option value="#828a87">Pauze</option>
                            <option value="#ea4335">Verlof</option>
                        </select>
                    </div>
                </div>
            </div>
        }
    }
    <div class="card mb-4">
        <div id="button-header" class="card-header bg-dark text-white" style="border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;">Rooster:</div>
        <div class="card-body bg-white">

            <div id="calendar"></div>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form id="modalForm" asp-action="CreateEvent" asp-controller="Planner" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @{EventModel newmodel = new EventModel();}
                        @{

                            <input id="eventIdField" type="hidden" asp-for="@newmodel.eventId" value="0" />
                            if (ViewData["rol"].ToString() == "Roostermaker")
                            {
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">Werknemer: </span>
                                    </div>
                                    <input onchange="SetUserID(@voornaamlist, @userIdList)" type="text" class="form-control" id="voornaamField" value="" asp-for="@newmodel.voornaam" autocomplete="off" />
                                    <input type="hidden" asp-for="@newmodel.userId" id="userIdField2" />
                                </div>
                            }
                        }
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Type: </span>
                            </div>
                            <select onChange="EditTitle(this.options[this.selectedIndex].text)" asp-for="@newmodel.themeColor" class="form-control" id="themeColorField">
                                <option value="#3b5a6f">Stand-by</option>
                                <option value="#353b45">Incidenten</option>
                                <option value="#828a87">Pauze</option>
                                <option value="#ea4335">Verlof</option>
                            </select>
                            <span asp-validation-for="@newmodel.themeColor" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Titel: </span>
                            </div>
                            <input id="titleField" asp-for="@newmodel.title" class="form-control" value="" />
                            <span asp-validation-for="@newmodel.title" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Beschrijving: </span>
                            </div>
                            <input id="descriptionField" asp-for="@newmodel.description" class="form-control" value="" />
                            <span asp-validation-for="@newmodel.description" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Start: </span>
                            </div>
                            <input id="startField" asp-for="@newmodel.startDate" class="form-control" />
                            <span asp-validation-for="@newmodel.startDate" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Einde: </span>
                            </div>
                            <input id="endField" asp-for="@newmodel.endDate" class="form-control" />
                            <span asp-validation-for="@newmodel.endDate" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Hele dag: </span>
                            </div>
                            <select asp-for="@newmodel.isFullDay" class="form-control" id="fullDayField" name="isFullDay">

                                <option selected value="0">Nee</option>
                                <option value="1">Ja</option>
                            </select>
                        </div>

                        @if (ViewData["rol"].ToString() == "Roostermaker")
                        {

                            <input type="button" value="Verwijder" class="btn btn-danger additional-buttons" onclick="DeleteEvent(); RemoveEvents(); CloseModal();" style="border-color: black; background-color:#660000 !important" />
                            <input type="button" id="submitButton" onclick="HandleRequest(); RemoveEvents();" value="Wijzig" class="btn btn-light additional-buttons" style="border-color: black !important" />
                        }
                        else
                        {
                            <input type="button" value="Ruilverzoek Aanvragen" class="btn btn-outline-secondary" onclick="TradeEvent(); RemoveEvents();" />
                        }
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>





