@model Models.HoursWorked.TimeSheet
@{
    ViewData["Title"] = "CreateEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/hoursworked.css" rel="stylesheet" />
</head>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="bg-dark text-white p-2">Please select a date:</span>
    </div>
    <input onchange="UpdateTable()" class="form-control pb-1" style="max-width: 200px" type="date" name="date" id="date" />
</div>

@*Hours worked week view*@
<div class="card h-75 float-left border-0" style="width: 100%;">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="bg-dark text-white">Stand-By</th>
                <td id="sb1"></td>
                <td id="sb2"></td>
                <td id="sb3"></td>
                <td id="sb4"></td>
                <td id="sb5"></td>
                <td id="sb6"></td>
                <td id="sb7"></td>
                <td id="sbt" class="bg-secondary text-white"></td>
            </tr>
            <tr>
                <th scope="row" class="bg-dark text-white">@Proftaakrepos.Resources.lang.Incidenten</th>
                <td id="a1"></td>
                <td id="a2"></td>
                <td id="a3"></td>
                <td id="a4"></td>
                <td id="a5"></td>
                <td id="a6"></td>
                <td id="a7"></td>
                <td id="at" class="bg-secondary text-white"></td>
            </tr>
            <tr>
                <th scope="row" class="bg-dark text-white">@Proftaakrepos.Resources.lang.Verlof</th>
                <td id="f1"></td>
                <td id="f2"></td>
                <td id="f3"></td>
                <td id="f4"></td>
                <td id="f5"></td>
                <td id="f6"></td>
                <td id="f7"></td>
                <td id="ft" class="bg-secondary text-white"></td>
            </tr>
            <tr class="bg-secondary text-white">
                <th scope="row" class="bg-dark text-white">@Proftaakrepos.Resources.lang.TotaleTijd</th>
                <td id="t1"></td>
                <td id="t2"></td>
                <td id="t3"></td>
                <td id="t4"></td>
                <td id="t5"></td>
                <td id="t6"></td>
                <td id="t7"></td>
                <td id="tt" class="bg-secondary text-white"></td>
            </tr>
        </tbody>
    </table>

</div>

<div style="margin-top: 30vh"></div>
<hr />

<p id="error" style="color: red"></p>
<form asp-action="UpdateIncidents" asp-controller="HoursWorked" method="post">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 200px;">@Proftaakrepos.Resources.lang.Dag</th>
                <th scope="col" style="width: 150px;">@Proftaakrepos.Resources.lang.Start</th>
                <th scope="col" style="width: 150px;">@Proftaakrepos.Resources.lang.Einde</th>
                <th scope="col" style="width: 100px;">@Proftaakrepos.Resources.lang.TotaleTijd</th>
                <th scope="col" style="width: 100px;">@Proftaakrepos.Resources.lang.Overuren</th>
                <th scope="col" style="width: 100px;">@Proftaakrepos.Resources.lang.Incidenten</th>
                <th scope="col" style="width: 100px;">@Proftaakrepos.Resources.lang.IncidentNaam</th>
                <th scope="col" style="width: 30px;"></th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <tr id="0">
                <th><input id="datum--1" class="form-control" type="date" name="Dates" /></th>
                <td><input onchange="CalcTotalTime(-1)" id="start--1" class="form-control" type="time" name="Start" /></td>
                <td><input onchange="CalcTotalTime(-1)" id="eind--1" class="form-control" type="time" name="End" /></td>
                <td><input id="totaal--1" disabled class="form-control" type="time" value="00:00" /></td>
                <td><input id="overuren--1" class="form-control" type="time" value="00:00" name="OverTime" /></td>
                <td><label class="switch"><input name="Type" id="incidentswitch--1" onchange="UpdateIncidentState(-1)" type="checkbox"><span class="slider round"></span></label><input type="hidden" value="off" name="Type" id="hiddenswitch--1" /></td>
                <td><select class="custom-select" disabled id="incidentname--1"></select></td>
                
                <td><div class="float-right mr-2"><button class="btn btn-outline-danger" id="sendTimeSheet" onclick="removeRow(-1)" style="border-radius: 100%; width: 35px; height: 35px;" type="button"><i class="fas fa-times ml-0"></i></button></div></td>
            </tr>
        </tbody>
    </table>
    <div class="float-right">
        <button onclick="addRow()" type="button" class="btn btn-outline-dark mr-3" style="border-radius: 100%; width: 40px; height: 40px;">
            <i class="fas fa-plus mt-1"></i>
        </button>
        <button class="btn btn-outline-success" type="submit" style="border-radius: 100%; width: 40px; height: 40px;"><i class="far fa-paper-plane ml-n1"></i></button>
    </div>
</form>
<input type="hidden" id="amount" value="0" />

<script src="../../js/OverzichtHandler.js"></script>
<script src="~/js/hoursworked.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/moment.js"></script>