@using Models

@{
    ViewData["Title"] = "Hours Worked";
    var data = ViewData["Collection"] as List<HoursWorkedModel>;
}
<p id="error" style="color: red"></p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 200px;">@Proftaakrepos.Resources.lang.Dag</th>
                <th scope="col" style="width: 150px;">@Proftaakrepos.Resources.lang.Start</th>
                <th scope="col" style="width: 150px;">@Proftaakrepos.Resources.lang.Einde</th>
                <th scope="col" style="width: 100px;">@Proftaakrepos.Resources.lang.Pauze</th>
                <th scope="col" style="width: 100px;">@Proftaakrepos.Resources.lang.TotaleTijd</th>
                <th scope="col" style="width: 100px;">@Proftaakrepos.Resources.lang.Overuren</th>
                <th scope="col" style="width: 100px;">@Proftaakrepos.Resources.lang.Ziek</th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
    <input type="hidden" id="amount" value="1"/>
    <div class="float-right">
        <button onclick="addRow()" class="btn btn-outline-dark mr-1" style="border-radius: 100%; width: 40px; height: 40px;">
            <i class="fas fa-plus mt-1"></i>
        </button>
        <button class="btn btn-outline-success" id="sendTimeSheet" style="border-radius: 100%; width: 40px; height: 40px;">
            <i class="far fa-paper-plane ml-n1"></i>
        </button>
    </div>

    <script src="../../js/OverzichtHandler.js"></script>
