
@{
    ViewData["Title"] = "Last activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ip = ViewData["ip"] as string;
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<h1>@Proftaakrepos.Resources.lang.LastActivity</h1>

<div class="alert alert-info" id="IPAlert" role="alert">
</div>

<table class="table table-striped" id="myTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Proftaakrepos.Resources.lang.Tijd</th>
            <th scope="col">IP</th>
            <th scope="col">@Proftaakrepos.Resources.lang.Gelukt</th>
        </tr>
    </thead>
    <tbody>
        @{
            List<string[]> records = ViewData["records"] as List<string[]>;
            for (int i = 0; i < records.Count(); i++)
            {
                <tr>
                    <th scope="row">@records[i][2].Substring(0, records[i][2].Length - 3)</th>
                    <td>@records[i][3]</td>
                    @{ if (@records[i][1].ToLower() == "true")
                        {
                            <td>@Proftaakrepos.Resources.lang.Ja</td>
                        }
                        else
                        {
                <td>@Proftaakrepos.Resources.lang.Nee</td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>

<script src="~/js/activity.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
@{ 
    if(ViewData["language"] as string == "en")
    {
    <script>
    $(document).ready(function () {
            $('#myTable').dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/English.json"
                }
            });
        });
    </script>
    }
    else
    {
        <script>$(document).ready(function () {
                $('#myTable').dataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Dutch.json"
                    }
                });
            });
        </script>
    }
}