@using ClassLibrary.Classes;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css//navbar.css" />
    <link rel="stylesheet" href="~/css/navbargrid.css" />
</head>
<body>
    <div class="page">
        <div class="sidenav left" style="z-index: 100; position: absolute;">
            <ul class="nav navbar-nav">
                @{ 
                    //List<string> accesslevels = GetAccessLevel.GetPermissions("");
                    string roles = ViewData["roles"] as string;
                }
                <li>@Html.ActionLink("Verzoeken", "Incoming", "Shiftview")</li>
                <li>@Html.ActionLink("Verzoek aanmaken", "CreateRequest", "Shiftview")</li>
                <li>@Html.ActionLink("Werknemers", "Employees", "Authentication")</li>
                <li>@Html.ActionLink("Werknemer toevoegen", "AddEmployee", "Authentication")</li>
                <li>@Html.ActionLink("Rooster", "Agenda", "Planner")</li>
            </ul>
            <p style="position: absolute; bottom: 0;">CGI.COM - @DateTime.Now.Year</p>
        </div>
        <div class="container right">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
