
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string[]> stonkers = ViewData["events"] as List<string[]>;
}

    <h1>@Proftaakrepos.Resources.lang.VerlofAanvragen</h1>

<div class="card mb-4">
    <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.VerlofAanvragen</div>
    <div class="card-body">
        <div class="container-fluid">
            <ul class="list-group">
                @{
                    bool areThereRequests = false;
                    foreach (string[] array in stonkers)
                    {
                        areThereRequests = true;

                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="row">
                                        <div class="column col-md-6"><label>@Proftaakrepos.Resources.lang.Employee <strong>@array[0]</strong></label></div>
                                        <div class="column col-sm-6"><label>@Proftaakrepos.Resources.lang.Van: <strong>@array[6]</strong>&nbsp;@Proftaakrepos.Resources.lang.Tot: <strong>@array[7]</strong></label></div>
                                        <div class="column col-md-6"><label>Reden: <strong>@array[5]</strong></label></div>
                                    </div>
                                    <div class="input-group-append">
                                        <a class="btn btn-outline-success mr-1" style="width: 50px" asp-controller="Verlof" asp-action="Goedkeuren" asp-route-verlofID="@array[1]" method="post">
                                            <i class="fas fa-check"></i>
                                        </a>
                                        
                                        <a class="btn btn-outline-danger" style="width: 50px" asp-controller="Verlof" asp-action="Afwijzen" asp-route-verlofID="@array[1]" method="post">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </li>
                    }
                    if (!areThereRequests)
                    {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @Proftaakrepos.Resources.lang.GeenVerlofAanvragen
            </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>