@using MySql.Data.MySqlClient;
@using Microsoft.AspNetCore.Http;
@using ClassLibrary.Classes;
@model ShiftViewModel;

@{
    ViewData["Title"] = "Create a Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string authCode = ViewData["UserInfo"].ToString();
    string currentId = ShiftView.GetLoggedInUserId(authCode);
    List<string[]> dienstInfo = ShiftView.GetDiensten(Convert.ToInt32(currentId));
    List<string[]> tradeRequests = ShiftView.GetRequests();
}
<script src="~/js/ShiftView.js"></script>

<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">Ruilverzoek aanmaken</div>
        <div class="card-body">
            <div class="container-fluid">
                <form asp-action="CreateRequest" asp-controller="Shiftview" method="post">
                    <input type="hidden" value="@currentId" name="UserID" />
                    <div class="input-group">
                        <select name="EventID" id="EventID" class="custom-select">
                            <option selected>Kies een dienst</option>
                            @{
                                foreach (string[] dienst in dienstInfo)
                                {
                                    DateTime dateTime = DateTime.Parse(dienst[4]);
                                    DateTime now = DateTime.Now;
                                    int compareResult = DateTime.Compare(dateTime, now);
                                    if (dienst[4] != null && compareResult > 0)
                                    {
                                        if (dienst[8].ToLower() == "false")
                                        {
                                            <option value="@dienst[0]">@dienst[2] | @dienst[4] - @dienst[5]</option>
                                        }
                                    }
                                }
                            }
                        </select>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary">Ruilverzoek aanmaken</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">Uw ruilverzoeken</div>
        <div class="card-body">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <button id="ActiveButton" onclick="openTab(event, 'Active')" class="tablink Active nav-link active" href="#">Actieve aanvragen</button>
                        </li>
                        <li class="nav-item">
                            <button id="AcceptedButton" onclick="openTab(event, 'Accepted')" class="tablink Accepted nav-link" href="#">Geaccepteerde aanvragen</button>
                        </li>
                        <li class="nav-item">
                            <button id="ExpiredButton" onclick="openTab(event, 'Expired')" class="tablink Expired nav-link" href="#" tabindex="-1" aria-disabled="true">Verlopen aanvragen</button>
                        </li>
                    </ul>
                </div>
                <div id="Active" class="tab card-body">
                    <ul class="list-group">
                        @{
                            foreach (string[] dienst in dienstInfo)
                            {
                                DateTime dateTime = DateTime.Parse(dienst[4]);
                                DateTime now = DateTime.Now;
                                int compareResult = DateTime.Compare(dateTime, now);
                                if (dienst[1] == currentId && compareResult > 0)
                                {
                                    if (dienst[8].ToLower() == "true")
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            @dienst[2] | @dienst[4] - @dienst[5]
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-success mr-1" style="width: 50px"><i class="fas fa-check"></i></button>
                                                <button class="btn btn-outline-danger" style="width: 50px"><i class="fas fa-times"></i></button>
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
                <div id="Accepted" class="tab card-body" style="display:none;">
                    <ul class="list-group">
                        @{
                            foreach (string[] request in tradeRequests)
                            {
                                if (request[0] == currentId && Convert.ToInt32(request[4]) != -1)
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        @request[2] - @request[3] | Geaccepteerd door @request[4]
                                    </li>
                                }

                            }
                        }
                    </ul>
                </div>
                <div id="Expired" class="tab card-body" style="display:none;">
                    <ul class="list-group">
                        @{
                            foreach (string[] dienst in dienstInfo)
                            {
                                DateTime dateTime = DateTime.Parse(dienst[4]);
                                DateTime now = DateTime.Now;
                                int compareResult = DateTime.Compare(dateTime, now);
                                if (dienst[1] == currentId && compareResult <= 0)
                                {
                                    if (dienst[8].ToLower() == "true")
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            @dienst[2] | @dienst[4] - @dienst[5]
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>