@using MySql.Data.MySqlClient;
@using Microsoft.AspNetCore.Http;
@using ClassLibrary.Classes;

@{
    ViewData["Title"] = "Create a Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string authCode = ViewData["UserInfo"].ToString();
    string currentId = ShiftView.GetLoggedInUserId(authCode);
    List<string[]> dienstInfo = ShiftView.GetDiensten(Convert.ToInt32(currentId));
    List<string[]> tradeRequests = ShiftView.GetRequests();
    List<string[]> users = ShiftView.GetUsers();
}
<script src="~/js/ShiftView.js"></script>

<div class="container-fluid">

    @if (ViewData["Status"].ToString() != string.Empty)
    {
        <div class="alert alert-danger fade show" data-dismiss="alert" aria-label="Close" role="alert" style="cursor: pointer">
            @ViewData["Status"]
        </div>
    }
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">Ruilverzoek aanmaken</div>
        <div class="card-body">
            <div class="container-fluid">
                <form asp-action="CreateRequest" asp-controller="Shiftview" method="post">
                    <input type="hidden" value="@currentId" name="UserID" />
                    <div class="input-group">
                        <select name="EventID" id="EventID" class="custom-select">
                            <option value="0" selected>Kies een dienst</option>
                            @{
                                foreach (string[] dienst in dienstInfo)
                                {
                                    DateTime dateTime = DateTime.Parse(dienst[4]);
                                    DateTime now = DateTime.Now;
                                    int compareResult = DateTime.Compare(dateTime, now);
                                    if (dienst[4] != null && compareResult > 0)
                                    {
                                        if (dienst[8].ToLower() == "false")
                                        {
                                            <option value="@dienst[0]">@dienst[2] | @dienst[4] - @dienst[5]</option>
                                        }
                                    }
                                }
                            }
                        </select>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary">Ruilverzoek aanmaken</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">Uw ruilverzoeken</div>
        <div class="card-body">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <button id="ActiveButton" onclick="openTab(event, 'Active')" class="tablink Active nav-link active" href="#">Actieve aanvragen</button>
                        </li>
                        <li class="nav-item">
                            <button id="AcceptedButton" onclick="openTab(event, 'Accepted')" class="tablink Accepted nav-link" href="#">Geaccepteerde aanvragen</button>
                        </li>
                        <li class="nav-item">
                            <button id="ExpiredButton" onclick="openTab(event, 'Expired')" class="tablink Expired nav-link" href="#" tabindex="-1" aria-disabled="true">Verlopen aanvragen</button>
                        </li>
                    </ul>
                </div>
                <div id="Active" class="tab card-body">
                    <ul class="list-group">
                        @{
                            bool hasRequests1 = false;
                            foreach (string[] dienst in dienstInfo)
                            {
                                DateTime dateTime = DateTime.Parse(dienst[4]);
                                DateTime now = DateTime.Now;
                                int compareResult = DateTime.Compare(dateTime, now);
                                if (dienst[1] == currentId && compareResult > 0)
                                {
                                    if (dienst[8].ToLower() == "true")
                                    {
                                        hasRequests1 = true;
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            @dienst[2] | @dienst[4] - @dienst[5]
                                            <div class="input-group-append">
                                                <form asp-action="Cancel" method="post">
                                                    <input type="hidden" name="EventID" value="@dienst[0]" />
                                                    <button type="submit" class="btn btn-outline-danger" style="width: 50px"><i class="fas fa-times"></i></button>
                                                </form>
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                    @{
                        if (!hasRequests1)
                        {
                            <h5 class="float-left">U heeft nog geen actieve aanvragen.</h5>
                        }
                    }
                </div>
                <div id="Accepted" class="tab card-body" style="display:none;">
                    <ul class="list-group">
                        @{
                            bool hasRequests2 = false;
                            foreach (string[] request in tradeRequests)
                            {
                                if (request[0] == currentId && Convert.ToInt32(request[4]) != -1)
                                {
                                    hasRequests2 = true;
                                    string name = "";
                                    foreach (string[] user in users)
                                    {
                                        if (user[0] == request[4])
                                        {
                                            name = user[1] + " " + user[2] + " " + user[3];
                                        }
                                    }
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        @request[2] - @request[3] | Geaccepteerd door @name
                                    </li>
                                }

                            }
                        }
                    </ul>
                    @{
                        if (!hasRequests2)
                        {
                            <h5 class="float-left">U heeft nog geen aanvragen geaccepteerd</h5>
                        }
                    }
                </div>
                <div id="Expired" class="tab card-body" style="display:none;">
                    <ul class="list-group">
                        @{
                            bool hasRequests3 = false;
                            foreach (string[] dienst in dienstInfo)
                            {
                                DateTime dateTime = DateTime.Parse(dienst[4]);
                                DateTime now = DateTime.Now;
                                int compareResult = DateTime.Compare(dateTime, now);
                                if (dienst[1] == currentId && compareResult <= 0)
                                {
                                    if (dienst[8].ToLower() == "true")
                                    {
                                        hasRequests3 = true;
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            @dienst[2] | @dienst[4] - @dienst[5]
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                    @{
                        if (!hasRequests3)
                        {
                            <h5 class="float-left">U heeft nog geen verlopen aanvragen.</h5>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>