@using MySql.Data.MySqlClient;
@using Microsoft.AspNetCore.Http;
@using ClassLibrary.Classes;
@model ShiftViewModel;

@{
    ViewData["Title"] = "Incoming Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string authCode = ViewData["UserInfo"].ToString();
    string currentId = ShiftView.GetLoggedInUserId(authCode);
}
<link rel="stylesheet" href="~/css/ShiftView.css" />
<link rel="stylesheet" href="~/css/w3.css">
<script src="~/js/ShiftView.js"></script>

<div class="window">
    @* Incoming request box *@
    <h1 class="incomingH1">Incoming requests</h1>
    <div class="topSpacer1"></div>
    <div class="RequestsRecieved">
        @{
            for (int i = 1; i <= ShiftView.EntryCount("TradeID", "TradeRequest"); i++)
            {
                string[] requestOutput = ShiftView.GetRequests(i).ToArray();
                string[] disabledIds = requestOutput[6].Split(" ");
                string[] issuerDetails = ShiftView.GetNameByUIDs(Convert.ToInt32(requestOutput[0])).ToArray();

                string[] times = ShiftView.FixTimeStamp(requestOutput);

                string date = times[0];
                string startTime = times[1];
                string endTime = times[2];

                bool printRequest = true;
                foreach (string id in disabledIds)
                {
                    if (currentId == id || @requestOutput[1].ToLower() == "true")
                    {
                        printRequest = false;
                    }
                }

                if (currentId == requestOutput[0])
                {
                    printRequest = false;
                }

                if (printRequest)
                {
                    <div class="exampleRequest">
                        <span class="requestText"> @date @startTime to @endTime <span>- @issuerDetails[1] @issuerDetails[2] @issuerDetails[3]</span></span>
                        <a asp-controller="Shiftview" asp-action="HandleRequest" asp-route-UserID="@currentId" asp-route-TradeID="@i" method="Post" class="button">
                            <img src="~/img/check-solid.svg" alt="No">
                        </a>
                        <a asp-controller="Shiftview" asp-action="Block" asp-route-UserID="@currentId" asp-route-TradeID="@i" asp-route-DisabledIds="@requestOutput[6]" method="Post" class="button">
                            <img src="~/img/ban-solid.svg" alt="No">
                        </a>
                    </div>
                }
            }
        }
    </div>
    <div class="bottomSpacer1"></div>
</div>