@using MySql.Data.MySqlClient;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Inkomende Aanvragen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentId = ViewData["CurrentID"].ToString();
    List<string[]> tradeRequests = ViewData["TradeRequests"] as List<string[]>;
    List<string[]> users = ViewData["TradeRequests"] as List<string[]>;
}
<script src="~/js/ShiftView.js"></script>

<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.ruilverzoeken</div>
        <div class="card-body">
            <ul class="list-group">
                @{
                    int activeRequests = 0;
                    foreach (string[] request in tradeRequests)
                    {
                    string name = "";
                    string[] blockedIds = request[6].Split(",").ToArray();
                    DateTime date = Convert.ToDateTime(request[2]);
                    int compareResult = DateTime.Compare(date, DateTime.Now);
                    if (request[0] != currentId && !blockedIds.Contains(currentId.ToString()) && Convert.ToBoolean(request[1]) != true && compareResult > 0)
                    {
                    activeRequests++;
                    foreach (string[] user in users)
                    {
                    if (user[0] == request[0])
                    {
                    name = user[1] + " " + user[2] + " " + user[3];
                    }
                    }
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @request[2] - @request[3] - @name
                        <div class="input-group-append">
                            <a class="btn btn-outline-success mr-1" style="width: 50px" asp-controller="Shiftview" asp-action="AcceptRequest" asp-route-UserID="@currentId" asp-route-TradeID="@request[5]" asp-route-EventID="@request[7]" method="Post">
                                <i class="fas fa-check"></i>
                            </a>
                            <a class="btn btn-outline-danger" style="width: 50px" asp-controller="Shiftview" asp-action="Block" asp-route-UserID="@currentId" asp-route-TradeID="@request[5]" asp-route-DisabledIds="@request[6]" method="Post">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </li>
                    }
                    }
                    if (activeRequests == 0)
                    {
                    <h5>@Proftaakrepos.Resources.lang.ErZijnNogGeenRuilaanvragen</h5>
                    }
                }
            </ul>
        </div>
    </div>
</div>