@using Models
@model AddEmployee
@{
    ViewData["Title"] = "Voeg een werknemer toe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>@Proftaakrepos.Resources.lang.WerknemerToevoegen</h1>
<p style="color: red;">@ViewData["result"]</p>
<link rel="stylesheet" type="text/css" href="~/css/addEmployee.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="form">
    <div style="color: red;">@ViewData["Error"]</div>

    <form asp-action="AddEmployee" asp-controller="Employee" method="post">
        <div class="card-deck">
            <div class="card">
                <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.Basisinformatie</div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">@Proftaakrepos.Resources.lang.Voornaam:</span>
                        </div>
                        <input type="text" class="form-control" asp-for="naam">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">@Proftaakrepos.Resources.lang.Tussenvoegsel:</span>
                        </div>
                        <input type="text" class="form-control" asp-for="tussenvoegsel">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">@Proftaakrepos.Resources.lang.Achternaam:</span>
                        </div>
                        <input type="text" class="form-control" asp-for="achternaam">
                    </div>
                    <div class="border-top my-3"></div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">@Proftaakrepos.Resources.lang.Rol:</label>
                        </div>

                        <select class="custom-select" id="inputGroupSelect01" name="role">
                            @{ if (ViewData["roles"] == null) { }
                                else
                                {
                                    string[] rollen = ViewData["roles"] as string[];
                                    for (int i = 0; i < rollen.Length; i++)
                                    {
                                        <option value="@rollen[i]">@rollen[i]</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.Contactgegevens</div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">E-mail:</span>
                        </div>
                        <input type="text" class="form-control" asp-for="eMail">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Telefoonnummer:</span>
                        </div>
                        <input type="text" class="form-control" asp-for="phoneNumber">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Straatnaam:</span>
                        </div>
                        <input type="text" class="form-control" asp-for="straatnaam">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Huisnummer:</span>
                        </div>
                        <input type="text" class="form-control" asp-for="huisNummer">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Postcode:</span>
                        </div>
                        <input type="text" class="form-control" asp-for="postcode">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Woonplaats:</span>
                        </div>
                        <input type="text" class="form-control" asp-for="woonplaats">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.Notificaties</div>
                <div class="card-body">
                    <div class="custom-control custom-switch">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch1" asp-for="emailsetting">
                            <label class="custom-control-label" for="customSwitch1">@Proftaakrepos.Resources.lang.EmailNotificaties</label>
                        </div>
                        <br />
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch2" asp-for="smssetting">
                            <label class="custom-control-label" for="customSwitch2">@Proftaakrepos.Resources.lang.SMSNotificatie</label>
                        </div>
                    </div>
                    <br />
                    <label for="basic-url">@Proftaakrepos.Resources.lang.HeadsUp</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control">
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="1">@Proftaakrepos.Resources.lang.Dagen</option>
                            <option value="2">@Proftaakrepos.Resources.lang.Weken</option>
                            <option value="3">@Proftaakrepos.Resources.lang.Maanden</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <div class="input-group float-right">
                            <button class="btn btn-outline-success mb-1 mr-1" method="post" type="submit">
                                @Proftaakrepos.Resources.lang.WerknemerToevoegen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>