@model AddEmployee
@using Models
@using ClassLibrary.Classes;
@{
    ViewData["Title"] = "Werknemers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string[] EmployeeInfo;
    if (ViewData["EmployeeInfo"] != null)
    {
        EmployeeInfo = ViewData["EmployeeInfo"] as string[];
    }
    else
    {
        EmployeeInfo = new string[12];
    }
}
<h1>Wijzig gegevens van werknemers</h1>
<p style="color: green; font-size: 20px;">@ViewData["msg"]</p>
<link rel="stylesheet" type="text/css" href="~/css/addEmployee.css">
<div class="card mb-3">
    <div class="card-header bg-dark text-white">Werknemer:</div>
    <div class="card-body">
        <form asp-action="GetEmployeeInfo" asp-controller="Employee" method="post" id="getEmployee">
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04" name="employee" onchange="execForm()">
                    @{
                        int count = 1;
                        Employees employees = new Employees();
                        string[] employeeNames = employees.Names();
                        for (int i = 1; i <= employees.Count() * 3; i += 3)
                        {
                            if (employeeNames[i] != null)
                            {
                                <option value="@count">@employeeNames[i - 1] @employeeNames[i] @employeeNames[i + 1]</option>
                            }
                            else
                            {
                                <option value="@count">@employeeNames[i - 1] @employeeNames[i + 1]</option>
                            }
                            count++;
                        }
                    }
                </select>
            </div>
        </form>
    </div>
</div>

<form asp-action="UpdateEmployee" asp-controller="Employee">
    <div class="card-deck">
        <div class="card">
            <div class="card-header bg-dark text-white">Basisinformatie</div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">Voornaam:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="naam" value="@EmployeeInfo[1]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">Tussenvoegsel:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="tussenvoegsel" value="@EmployeeInfo[2]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">Achternaam:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="achternaam" value="@EmployeeInfo[3]">
                </div>
                <div class="border-top my-3"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Rol:</label>
                    </div>

                    <select class="custom-select" id="inputGroupSelect01" asp-for="role">
                        @{
                            if (ViewData["roles"] == null)
                            {
                                <option value="wrong">Kies eerst een werknemer</option>
                            }
                            else
                            {
                                string[] roles = ViewData["roles"] as string[];
                                for (int i = 0; i < roles.Length; i++)
                                {
                                    <option value="@roles[i]">@roles[i]</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-dark text-white">Contactgegevens</div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">E-mail:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="eMail" value="@EmployeeInfo[4]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">Telefoonnummer:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="phoneNumber" value="@EmployeeInfo[5]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">Straatnaam:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="straatnaam" value="@EmployeeInfo[6]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">Huisnummer:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="huisNummer" value="@EmployeeInfo[7]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">Postcode:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="postcode" value="@EmployeeInfo[8]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">Woonplaats:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="woonplaats" value="@EmployeeInfo[9]">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-dark text-white">Notificaties</div>
            <div class="card-body">
                <div class="custom-control custom-switch">
                    @{
                        string[] employeeSettings;
                        if (EmployeeInfo[0] != null)
                        {
                            employeeSettings = ChangeSettings.getSettings(EmployeeInfo[0]);
                            if (employeeSettings.Length > 2)
                            {
                                if (employeeSettings[1].ToLower() == "true")
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch1" asp-for="emailsetting" checked>
                                        <label class="custom-control-label" for="customSwitch1">E-mail notificaties ontvangen</label>
                                    </div>
                                    <br />
                                }
                                else
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch1" asp-for="emailsetting">
                                        <label class="custom-control-label" for="customSwitch1">E-mail notificaties ontvangen</label>
                                    </div>
                                    <br />
                                }
                                if (employeeSettings[2].ToLower() == "true")
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch2" asp-for="smssetting" checked>
                                        <label class="custom-control-label" for="customSwitch2">SMS bericht ontvangen</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch2" asp-for="smssetting">
                                        <label class="custom-control-label" for="customSwitch2">SMS bericht ontvangen</label>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch1" asp-for="emailsetting">
                                <label class="custom-control-label" for="customSwitch1">E-mail notificaties ontvangen</label>
                            </div>
                            <br />
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch2" asp-for="smssetting">
                                <label class="custom-control-label" for="customSwitch2">SMS bericht ontvangen</label>
                            </div>
                        }
                    }
                </div>
                <input type="hidden" name="oldEmail" value="@EmployeeInfo[4]" />
            </div>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <div class="input-group float-right">
                        <button class="btn btn-outline-success" method="post" type="submit">
                            Wijzig gegevens
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function execForm() {
        document.getElementById("getEmployee").submit();
    }
</script>