@model AddEmployee
@using Models
@using ClassLibrary.Classes;
@{
    ViewData["Title"] = "Werknemers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string[] EmployeeInfo;
    if (ViewData["EmployeeInfo"] != null)
    {
        EmployeeInfo = ViewData["EmployeeInfo"] as string[];
    }
    else
    {
        EmployeeInfo = new string[12];
    }
    string[] employeeSettings;
    if(EmployeeInfo[0] != null)
    {
        employeeSettings = ChangeSettings.getSettings(EmployeeInfo[0]);
    }
    else
    {
        employeeSettings = new string[6];
    }
}
<p style="color: green; font-size: 20px;">@TempData["msg"]</p>
<link rel="stylesheet" type="text/css" href="~/css/addEmployee.css">
<div class="card mb-3">
    <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.Werknemer:</div>
    <div class="card-body">
        <form asp-action="GetEmployeeInfo" asp-controller="Employee" method="post" id="getEmployee">
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04" name="employee" onchange="execForm()">
                    @{

                        Employees employees = new Employees();
                        List<string[]> Werknemers = employees.NamesTest();
                        foreach (string[] array in Werknemers)
                        {
                            if (array[3] == EmployeeInfo[0])
                            {
                                if (array[1] != null)
                                {
                                    <option value="@array[3]" selected>@array[0] @array[1] @array[2]</option>
                                }
                                else
                                {
                                    <option value="@array[3]" selected>@array[0] @array[2]</option>
                                }
                            }
                            else
                            {
                                if (array[1] != null)
                                {
                                    <option value="@array[3]">@array[0] @array[1] @array[2]</option>
                                }
                                else
                                {
                                    <option value="@array[3]">@array[0] @array[2]</option>
                                }
                            }
                        }
                    }
                </select>
            </div>
        </form>
    </div>
</div>

<form asp-action="UpdateEmployee" asp-controller="Employee">
    <div class="card-deck">
        <div class="card">
            <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.Basisinformatie</div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">@Proftaakrepos.Resources.lang.Voornaam:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="naam" value="@EmployeeInfo[1]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">@Proftaakrepos.Resources.lang.Tussenvoegsel:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="tussenvoegsel" value="@EmployeeInfo[2]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">@Proftaakrepos.Resources.lang.Achternaam:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="achternaam" value="@EmployeeInfo[3]">
                </div>
                <div class="border-top my-3"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">@Proftaakrepos.Resources.lang.Rol:</label>
                    </div>

                    <select class="custom-select" id="inputGroupSelect01" asp-for="role">
                        @{
                            if (ViewData["roles"] == null)
                            {
                                <option value="wrong">Kies eerst een werknemer</option>
                            }
                            else
                            {
                                string[] roles = ViewData["roles"] as string[];
                                for (int i = 0; i < roles.Length; i++)
                                {
                                    if (@roles[i].ToLower() == "roostermaker")
                                    {
                                        <option value="@roles[i]">@Proftaakrepos.Resources.lang.Roostermaker</option>

                                    }
                                    else if (@roles[i].ToLower() == "medewerker")
                                    {
                                        <option value="@roles[i]">@Proftaakrepos.Resources.lang.Employee</option>

                                    }
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.Contactgegevens</div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">E-mail:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="eMail" value="@EmployeeInfo[4]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Telefoonnummer:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="phoneNumber" value="@EmployeeInfo[5]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Straatnaam:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="straatnaam" value="@EmployeeInfo[6]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Huisnummer:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="huisNummer" value="@EmployeeInfo[7]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Postcode:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="postcode" value="@EmployeeInfo[8]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Woonplaats:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="woonplaats" value="@EmployeeInfo[9]">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.Notificaties</div>
            <div class="card-body">
                <div class="custom-control custom-switch">
                    @{
                        if (employeeSettings[1] == "True")
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch1" asp-for="emailsetting" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch1" asp-for="emailsetting">
                        }
                    }
                    <label class="custom-control-label" for="customSwitch1">@Proftaakrepos.Resources.lang.EmailNotificaties</label>
                </div>
                @*<br />*@
                <div class="custom-control custom-switch">
                    @{
                        if (employeeSettings[2] == "True")
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch2" asp-for="smssetting" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch2" asp-for="smssetting">
                        }
                    }
                    <label class="custom-control-label" for="customSwitch2">@Proftaakrepos.Resources.lang.SMSNotificatie</label>
                </div>
                <div class="custom-control custom-switch">
                    @{
                        if (employeeSettings[3] == "True")
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch3" asp-for="whatsappSetting" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch3" asp-for="whatsappSetting">
                        }
                    }
                    <label class="custom-control-label" for="customSwitch3">@Proftaakrepos.Resources.lang.Whatsapp</label>
                </div>
                <br />
                <label for="basic-url">@Proftaakrepos.Resources.lang.HeadsUp</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <input type="number" class="form-control" asp-for="ValueOfNoti" value="@employeeSettings[4]" min="0" id="inputValue">
                    </div>
                    <select class="custom-select" id="ageSelect" asp-for="TypeOfAge" onchange="OnChange()">
                        @{
                            switch (employeeSettings[5])
                            {
                                case "0":
                                    <option value="0" selected>@Proftaakrepos.Resources.lang.Direct</option>
                                    <option value="1">@Proftaakrepos.Resources.lang.Dagen</option>
                                    <option value="2">@Proftaakrepos.Resources.lang.Weken</option>
                                    <option value="3">@Proftaakrepos.Resources.lang.Maanden</option>
                                    break;
                                case "1":
                                    <option value="0">@Proftaakrepos.Resources.lang.Direct</option>
                                    <option value="1" selected>@Proftaakrepos.Resources.lang.Dagen</option>
                                    <option value="2">@Proftaakrepos.Resources.lang.Weken</option>
                                    <option value="3">@Proftaakrepos.Resources.lang.Maanden</option>
                                    break;
                                case "2":
                                    <option value="0">@Proftaakrepos.Resources.lang.Direct</option>
                                    <option value="1">@Proftaakrepos.Resources.lang.Dagen</option>
                                    <option value="2" selected>@Proftaakrepos.Resources.lang.Weken</option>
                                    <option value="3">@Proftaakrepos.Resources.lang.Maanden</option>
                                    break;
                                case "3":
                                    <option value="0">@Proftaakrepos.Resources.lang.Direct</option>
                                    <option value="1">@Proftaakrepos.Resources.lang.Dagen</option>
                                    <option value="2">@Proftaakrepos.Resources.lang.Weken</option>
                                    <option value="3" selected>@Proftaakrepos.Resources.lang.Maanden</option>
                                    break;
                            }
                        }
                    </select>
                </div>
                <input type="hidden" name="oldEmail" value="@EmployeeInfo[4]" />
            </div>
            <div class="card-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <div class="input-group float-right">
                            <button class="btn btn-outline-success mb-1 mr-1" method="post" type="submit">
                                @Proftaakrepos.Resources.lang.WijzigGegevens
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<script>
    function execForm() {
        document.getElementById("getEmployee").submit();
    }
</script>

<script>
    function OnChange() {
        if ($("#ageSelect").val() == 0) {
            $("#inputValue").hide()
        } else {
            $("#inputValue").show()
        }
    }
    OnChange()
</script>
