@using Models
@model ApplicationUser
@{
    ViewData["Title"] = "ChangeSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link rel="stylesheet" type="text/css" href="~/css/RadioCSS.css">
@{
    string[] test;
    if (ViewData["userInformation"] != null)
    {
        test = ViewData["userInformation"] as string[];
    }
    else
    {
        test = new string[12];
    }

    string[] setting;
    if (ViewData["Settings"] != null)
    {
        setting = ViewData["Settings"] as string[];
    }
    else
    {
        setting = new string[3];
    }
}
<h1>@Proftaakrepos.Resources.lang.Instellingen</h1>
@if (TempData["Error"] as string != null)
{
    <div class="alert alert-danger fade show" data-dismiss="alert" aria-label="Close" role="alert" style="cursor: pointer">
        @TempData["Error"]
    </div>
}
@if (TempData["Status"] as string != null)
{
    <div class="alert alert-success fade show" data-dismiss="alert" aria-label="Close" role="alert" style="cursor: pointer">
        @TempData["Status"]
    </div>
}
<form asp-action="ChangeLeSetting" asp-controller="Account" enctype="multipart/form-data">
    <div class="card-deck">
        <div class="card">
            <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.Basisinformatie</div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">@Proftaakrepos.Resources.lang.Voornaam:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="naam" value="@test[1]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">@Proftaakrepos.Resources.lang.Tussenvoegsel:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="tussenvoegsel" value="@test[2]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 140px">@Proftaakrepos.Resources.lang.Achternaam:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="achternaam" value="@test[3]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">@Proftaakrepos.Resources.lang.Afbeelding: </span>
                    </div>
                    <input class="form-control" type="file" id="image" name="image"/>
                </div>
                <div class="border-top my-3"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 180px">@Proftaakrepos.Resources.lang.HuidigWachtwoord:</span>
                    </div>
                    <input autocomplete="new-password" type="password" id="CurrentPassW" class="form-control" asp-for="currentPassword">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 180px">@Proftaakrepos.Resources.lang.NieuwWachtwoord:</span>
                    </div>
                    <input type="password" id="newpass1" class="form-control" asp-for="newPassword">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 180px">@Proftaakrepos.Resources.lang.WachtwoordHerhalen:</span>
                    </div>
                    <input type="password" id="newpass2" class="form-control" asp-for="ConfirmPassword">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.Contactgegevens</div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Email:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="eMail" value="@test[4]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Telefoonnummer:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="phoneNumber" value="@test[5]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Straatnaam:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="straatnaam" value="@test[6]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Huisnummer:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="huisNummer" value="@test[7]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Postcode:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="postcode" value="@test[8]">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">@Proftaakrepos.Resources.lang.Woonplaats:</span>
                    </div>
                    <input type="text" class="form-control" asp-for="woonplaats" value="@test[9]">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.Notificaties</div>
            <div class="card-body">
                <div class="custom-control custom-switch">
                    @{
                        if (setting[1].ToLower() == "true")
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch1" asp-for="emailsetting" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch1" asp-for="emailsetting">
                        }
                    }

                <label class="custom-control-label" for="customSwitch1">@Proftaakrepos.Resources.lang.EmailNotificaties</label>
                </div>
                @*<br />*@
                <div class="custom-control custom-switch">
                    @{
                        if (setting[2].ToLower() == "true")
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch2" asp-for="smssetting" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch2" asp-for="smssetting">
                        }
                    }
                <label class="custom-control-label" for="customSwitch2">@Proftaakrepos.Resources.lang.SMSBerichtOntvangen</label>
                </div>
                <div class="custom-control custom-switch">
                    @{
                        if (setting[3].ToLower() == "true")
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch3" asp-for="whatsappSetting" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input checkbox-lg" id="customSwitch3" asp-for="whatsappSetting">
                        }
                    }
                <label class="custom-control-label" for="customSwitch3">@Proftaakrepos.Resources.lang.Whatsapp</label>
                </div>
                <br />
                <label for="basic-url">Heads-up notificatie bij inplanning</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <input type="number" class="form-control" asp-for="ValueOfNoti" value="@setting[4]" min="0" id="inputValue">
                    </div>
                    <select class="custom-select" id="ageSelect" asp-for="TypeOfAge" onchange="OnChange()">
                        @{
                            switch (setting[5])
                            {
                                case "0":
                                    <option value="0" selected>@Proftaakrepos.Resources.lang.Direct</option>
                                    <option value="1">@Proftaakrepos.Resources.lang.Dagen</option>
                                    <option value="2">@Proftaakrepos.Resources.lang.Weken</option>
                                    <option value="3">@Proftaakrepos.Resources.lang.Maanden</option>
                                    break;
                                case "1":
                                    <option value="0">@Proftaakrepos.Resources.lang.Direct</option>
                                    <option value="1" selected>@Proftaakrepos.Resources.lang.Dagen</option>
                                    <option value="2">@Proftaakrepos.Resources.lang.Weken</option>
                                    <option value="3">@Proftaakrepos.Resources.lang.Maanden</option>
                                    break;
                                case "2":
                                    <option value="0">@Proftaakrepos.Resources.lang.Direct</option>
                                    <option value="1">@Proftaakrepos.Resources.lang.Dagen</option>
                                    <option value="2" selected>@Proftaakrepos.Resources.lang.Weken</option>
                                    <option value="3">@Proftaakrepos.Resources.lang.Maanden</option>
                                    break;
                                case "3":
                                    <option value="0">@Proftaakrepos.Resources.lang.Direct</option>
                                    <option value="1">@Proftaakrepos.Resources.lang.Dagen</option>
                                    <option value="2">@Proftaakrepos.Resources.lang.Weken</option>
                                    <option value="3" selected>@Proftaakrepos.Resources.lang.Maanden</option>
                                    break;
                            }
                        }
                    </select>
                </div>
            </div>
                <div class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <div class="input-group float-right">
                                <a class="btn btn-outline-danger mr-1" method="Post" id="reset" href="/Account/ChangeSettings">
                                    Reset
                                </a>
                                <button class="btn btn-outline-success" method="Post" id="submit" type="submit">
                                    Pas aan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</form>
<br />
<div id="PassAlert" class=" alert alert-warning alert-dismissible show mt-3" role="alert" style="display:none; width:32%">
    <strong>Wachtwoord vereisten:</strong> Minimaal 1 getal, 1 speciaal karakter, 1 kleine  letter, 1 hoofd letter en minimum van 8 karakters.
</div>

<script src="~/js/passStrength.js"></script>
<script>
    function OnChange() {
        if ($("#ageSelect").val() == 0) {
            $("#inputValue").hide()
        } else {
            $("#inputValue").show()
        }
    }
    OnChange()
</script>