@model AddStatusUpdateModel
@using Models
@{
    ViewData["Title"] = "Add Update";
    List<string[]> StatusUpdates = ViewBag.StatusUpdates;
    int activeStatusID = -1;
}
@{
    if (StatusUpdates.Count > 0)
    {
        for (int i = 0; i < StatusUpdates.Count - 1; i++)
        {
            if (Convert.ToInt32(StatusUpdates[i][2]) + 1 == Convert.ToInt32(StatusUpdates[i + 1][2]))
            {
                continue;
            }
            else
            {
                activeStatusID = Convert.ToInt32(StatusUpdates[i][2]) + 1;
                break;
            }
        }
        if (activeStatusID == -1)
        {
            activeStatusID = Convert.ToInt32(StatusUpdates[StatusUpdates.Count - 1][2]) + 1;
        }
    }
    else if (activeStatusID == -1)
    {
        activeStatusID = 1;
    }
}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <script src="~/js/Datepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha256-kIxwtDqhOVbQysWu0OpR9QfijdXCfqvXgAUJuv7Uxmg=" crossorigin="anonymous" />
</head>
<div class="card">
    <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.UpdateToevoegen</div>
    <form method="post">
        <div class="card-body">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="IncidentID" value="@ViewBag.IncidentId" />
            <input type="hidden" asp-for="StatusIdIncident" value="@activeStatusID" />
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3" style="width:175px">@Proftaakrepos.Resources.lang.StatusNaam: </span>
                </div>
                <input type="text" class="form-control" asp-for="StatusNaam">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3" style="width:175px">@Proftaakrepos.Resources.lang.StatusOmschrijving: </span>
                </div>
                <input type="text" class="form-control" asp-for="StatusOmschrijving">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3" style="width:175px">@Proftaakrepos.Resources.lang.StartDatumEnTijd: </span>
                </div>
                <input type="text" id="startInput" class="form-control" asp-for="Start" value="@DateTime.Now.ToString("yyyy/MM/dd HH:mm")">
                <script>
                    jQuery('#startInput').datetimepicker({
                        format: 'Y/m/d H:i',
                        step: 15,
                    });
                    $.datetimepicker.setLocale('nl');
                </script>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3" style="width:175px">@Proftaakrepos.Resources.lang.EindDatumEnTijd: </span>
                </div>
                <input type="text" id="endInput" class="form-control" asp-for="End" value="@DateTime.Now.AddHours(1).ToString("yyyy/MM/dd HH:mm")">
                <script>
                    jQuery('#endInput').datetimepicker({
                        format: 'Y/m/d H:i',
                        step: 15,
                    });
                    $.datetimepicker.setLocale('nl');
                </script>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-outline-secondary" value="@Proftaakrepos.Resources.lang.VoegToe">
            <a class="btn btn-danger" asp-action="StatusUpdate" asp-route-incidentId="@ViewBag.IncidentId">Cancel</a>
        </div>
    </form>

</div>


