@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Models.Incidenten;

@{
    ViewData["Title"] = "Incidenten";
    List<string[]> incidenten = ViewBag.Incidents;
    List<string[]> incidentUpdateCount = ViewBag.IncidentUpdateCount;
}
@{
    if (incidenten.Count != 0)
    {

        foreach (string[] incident in incidenten)
        {
            IncidentMailModel incidentMailModel = new IncidentMailModel()
            {
                Naam = incident[3],
                Beschrijving = incident[1]
            };

            int statusCount = 0;
            foreach (string[] incidentCount in incidentUpdateCount)
            {
                if (incidentCount[0] == incident[0])
                {
                    statusCount = Convert.ToInt32(incidentCount[1]);
                }
            }

            <div class="card mb-3">
                @{
                    switch (incident[2])
                    {
                        case "0":
                            <div class="card-header bg-danger text-white">
                                Incident: @incident[3]
                            </div>
                            break;
                        case "1":
                            <div class="card-header bg-dark text-white">
                                Incident: @incident[3]
                            </div>
                            break;
                        default:
                            <div class="card-header bg-info text-white">
                                Incident: @incident[3]
                            </div>
                            break;

                    }
                }
                <div class="card-body">
                    <h5 class="card-title">
                        @incident[1]
                        <br />
                        Status:
                        @{
                            switch (incident[2])
                            {
                                case "0":
                                    <a>@Proftaakrepos.Resources.lang.Nog_niet_begonnen</a>
                                    break;
                                case "1":
                                    <a>@Proftaakrepos.Resources.lang.WordtAanGewerkt</a>
                                    break;
                                default:
                                    <a>@Proftaakrepos.Resources.lang.FoutDataBase</a>
                                    break;

                            }
                        }
                        <br />
                        @Proftaakrepos.Resources.lang.AantalUpdates: @statusCount
                    </h5>

                </div>
                <div class="card-footer bg-white">
                    @{ if (incident[2] == "0")
                        {
                            <a class=" btn btn-outline-secondary" asp-action="Index" asp-route-status="1" asp-route-statusId="@incident[0]" asp-route-model="@incidentMailModel">@Proftaakrepos.Resources.lang.Starten</a>
                        }
                        else if (incident[2] == "1")
                        {
                            <a class=" btn btn-outline-secondary" asp-action="StatusUpdate" asp-route-incidentId="@incident[0]">@Proftaakrepos.Resources.lang.StatusAanpassen</a>
                            <a class=" btn btn-danger" asp-action="Index" asp-route-status="2" asp-route-statusId="@incident[0]" asp-route-model="@incidentMailModel" method="Post">@Proftaakrepos.Resources.lang.Afgehandeld</a>
                        }
                    }
                </div>
            </div>
        }
    }
    else
    {
        <div class="card mb-3 ">
            <div class="card-header bg-dark text-white">
                @Proftaakrepos.Resources.lang.GeenIncidenten
            </div>
            <div class="card-body">
                <h5 class="card-title">@Proftaakrepos.Resources.lang.ErZijnGeenIncidentenOpDitMoment</h5>
            </div>
        </div>
    }

    <a class=" btn btn-outline-secondary" asp-action="VoegIncidentToe">@Proftaakrepos.Resources.lang.VoegToe</a>
}
