@using DAL;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Models

@{
    ViewData["Title"] = "StatusUpdate";
    List<string[]> statusUpdates = ViewBag.StatusUpdates;
}
<div class="mb-3">
    <a class="btn btn-outline-secondary" asp-action="AddUpdate" asp-route-incidentId="@ViewBag.IncidentId">@Proftaakrepos.Resources.lang.VoegToe</a>
</div>
@{
    if (statusUpdates.Count > 0)
    {
        foreach (string[] statusUpdate in statusUpdates)
        {
            <div class="card mb-3">
                <div class="card-header bg-dark text-white">Status: @statusUpdate[6]</div>
                <div class="card-body">
                    <h5 class="card-title">
                        @statusUpdate[3] <br />
                        @DateTime.Parse(statusUpdate[4]).ToString("yyyy/MM/dd HH:mm") tot @DateTime.Parse(statusUpdate[5]).ToString("yyyy/MM/dd HH:mm")
                    </h5>
                </div>
                @{if (statusUpdate[2] != "0")
                    {
                        <div class="card-footer">
                            <a class=" btn btn-outline-secondary" asp-action="EditUpdate"
                               asp-route-incidentId="@ViewBag.IncidentId"
                               asp-route-statusIdIncident="@statusUpdate[2]"
                               asp-route-statusOmschrijving="@statusUpdate[3]"
                               asp-route-start="@statusUpdate[4]"
                               asp-route-end="@statusUpdate[5]"
                               asp-route-statusNaam="@statusUpdate[6]">Edit</a>
                            <a class=" btn btn-danger" asp-action="StatusUpdate" asp-route-incidentId="@ViewBag.IncidentId" asp-route-delete="@true" asp-route-updateId="@statusUpdate[0]">Delete</a>

                        </div>
                    }
                }
            </div>
        }
    }
    else
    {
        <div class="card mb-3">
            <div class="card-header bg-dark text-white">@Proftaakrepos.Resources.lang.ErZijnGeenIncidentenOpDitMoment</div>
            <div class="card-body">
                <h5 class="card-title">
                    Er zijn nog geen status updates voor dit incident.
                </h5>
            </div>
        </div>
    }
    <a class="btn btn-outline-secondary" asp-action="Index">Cancel</a>
}
